@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "../abstract/variables";

body, html {
  font-family: 'JetBrains Mono', monospace !important;
  background-color: $bg !important;
}

main {
  color: $quinta-cor !important;
}

.link-color {
  color: black;
  &:hover {
    color: red;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

.bg-body {
    background-color: $bg !important;
}